nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100vw;
  max-width: 1000px;
}

nav ul li a {
  padding: 0 10px;
  text-decoration: none;
  color: #000;
}

nav ul li a:hover {
  color: rgb(0, 137, 142);
}

button {
  background-color: black;
  color: white;
  border: none;
  box-shadow: #000 2px 2px 2px;
  border-radius: 8px;
  padding: 10px 30px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-right: 20px;
}

button:hover {
  background-color: rgb(0, 137, 142);
}

button:active {
  transform: translateY(2px);
}

.hamburger {
  display: none;
}


@media screen and (max-width: 790px) {
  /* For responsive build, hide the nav list items and button in nav bar when screen becomes tablet size or smaller. Then set hamburger to visible in place. flex: space-between should push the hamburger to the for right where the button currently is, removing clutter in navbar. */
  nav ul {
      display: none;
  }

  nav button {
      display: none;
  }

  .hamburger {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 20px;
      width: 30px;
      cursor: pointer;
      padding-right: 20px;
  }

  .hamburger .line {
      height: 3px;
      width: 100%;
      background-color: black;
  }

  .hamburger:hover .line {
      background-color: rgb(0, 137, 142);
  }
}